#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us','cn'
# System language
lang zh_CN.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=ens34 --onboot=off --ipv6=auto
network  --bootproto=dhcp --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$6lYDRCQjDAWlmylK$HHqAF6UGSnYff1ImjzHwj/dRJ2DRkmct1WIzuPGhBvFpeMoBQVD9l/0uwQgoyDyPsILjReptry4/qv1iReD.a/
# System timezone
timezone Asia/Shanghai --isUtc
user --name=aaa --password=$6$N8AsQlL6PnDSTbCk$2YoGdtJls.SFoNRN52cJud9uqm20XJm6eoEUjmfb7vTSX3MoZbRUwDUXrW/HzV1DlEOp8UNGr65VtRLzcp1uw/ --iscrypted --gecos="aaa"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^gnome-desktop-environment
@base
@compat-libraries
@core
@desktop-debugging
@development
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
